bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.AppleDouble
.LSOverride
vendor/
keystore_data/
keystores/
wallets/
*.pem
*.key
*.p12
logs/
*.log
etc/*.yaml
!etc/*.sample.yaml